<!doctype html>
<html ng-app="NarrowItDownApp" lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-controller='NarrowItDownController as narrowCtrl'>
   <div class="container sp-card">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <hr/>
    <div class="form-group">
      <input ng-model="narrowCtrl.searchTerm" type="text" placeholder="Enter : Noodle, Egg, Chow Mein, etc" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button ng-click="narrowCtrl.search()" class="btn btn-success">Narrow It Down For Me!</button>
    </div>
  </div>

  <div class="container sp-card">
    <found-items items="narrowCtrl.found" on-remove="narrowCtrl.remove(index)">
    </found-items>
  </div>
</body>
</html>
